/* General styles */
html {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  background-color: #08091b;
}
* {
  color: #d0b427;
  padding: 0;
  margin: 0 2%;
}
ul {
  list-style-type: none;
}
section,
header,
footer {
  font-size: 200%;
}
h2 {
  text-decoration: underline;
  padding: 2%;
}
/* intro styles */
.intro {
  padding: 0%;
}
.intro h1 {
  font-size: 300%;
  font-weight: 600;
  margin-bottom: 5px;
  padding: 1%;
}
.intro h2 {
  font-size: 150%;
  font-style: oblique;
  text-decoration: none;
  padding: unset;
}
.intro p {
  font-size: 100%;
}
/* projects */
.projects {
  background: url(../images/giphy2.gif);
  background-size: cover;
  margin: 0 -4%;
  background-position-y: 60%;
}

/* work */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 4fr;
}
.grid-item1 {
  grid-column: 1/2;
  text-align: left;
}
.grid-item2 {
  grid-column: 2/3;
  text-align: left;
}
.grid-item2 li,
.intro p {
  color: whitesmoke;
}
.grid-item2 li {
  list-style-type: circle;
}
@media screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 2fr;
  }
  .grid-item2,
  .grid-item1 {
    grid-column: 1/2;
    text-align: left;
  }
}
/* education */
.education {
  background-image: url(../images/o\ o\ o\ _\ _\ _.gif);
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  margin: 0 -4%;
}
.education ul {
  text-align: left;
  margin-left: 10%;
}
/* .bg-box{
    background: black;
    opacity: 0.4;
} */
.education h2,
.education p {
  opacity: 1;
}

/* links */
.links {
  margin: 0 0;
  text-align: center;
  align-items: center;
  word-wrap: normal;
}
.links a:hover {
  color: blanchedalmond;
  font-size: larger;
}
